#sec8{font-size: 0;background-color: #f2f2f2;height: auto;padding-left: 5%;padding-top: 1%; box-sizing: border-box;}

.sec8_txt{margin: 5% 0;height: auto;}
.sec8_txt div{font-weight: 700;margin-top: 5%;color:#616161;}
.sec8_txt a{font-size: 11px;color:#616161;margin: 20px 0;display: block;text-decoration: none;}
.sec8_down div{color:#616161;;font-size: 11px;}

